p{
  font-family:Roboto;
  margin-top:0;
  margin-bottom:0;
}  
.video{

  font-weight: bold;
  font-size: 18px;
  width: 280px;
  line-height:24px;
  
}
.video-status{
  
  font-size: 14px;
  color:rgb(96,96,96);
  
  margin-bottom:20px;

}
.video-author{
  
  font-size: 14px;
  color:rgb(96,96,96);
  
  margin-bottom:20;

}
.video-dis{
  
  font-size: 14px;
  color:rgb(96,96,96);
  width:280px;
  line-height: 22px;
  margin-bottom:100px ;
  

}
.apple-text{
  font-size: 14px;
  background-color:rgb(227,65,64);
  color:white;
  text-align:center;
  margin-bottom:50px ;
  padding-top:10px;
  padding-bottom:18px;
  
  

}
.span-ex:hover{
  margin-left:12px;
  text-decoration-line: underline;

}
.span-ex{
  cursor: pointer;
}